{% extends "base.html" %}
{% load static %}
{% block content %}

		<div class="section section-pad section-bg-zinnia" style="background:-webkit-linear-gradient(left, red 0%, red 100%)" id="partners">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-6 offset-md-3">
					<div class="section-head"><h3 class="section-title-md animated" data-animate="fadeInUp" data-delay=".1">
						Best Products</h3></div>
				</div>
			</div>
			<div class="partner-list">
				<div class="row text-center">
					<div class="col-sm col-6">
						<div class="single-partner animated" data-animate="fadeInUp" data-delay=".2"><a href="{% url 'baccessories' %}"><img
								src="{% static 'images/a1.jpeg' %}" alt="partner"></a>
								<h3>Liberty X machine</h3>
								<h3>$2300</h3>
								</div>
					</div>
					<div class="col-sm col-6">
						<div class="single-partner animated" data-animate="fadeInUp" data-delay=".3"><a href="{% url 'baccessories' %}"><img
								src="{% static 'images/a2.jpeg' %}" alt="partner"></a>
								<h3>Automated teller machine</h3>
								<h3>$2900</h3>
								</div>
					</div>
					<div class="col-sm col-6">
						<div class="single-partner animated" data-animate="fadeInUp" data-delay=".4"><a href="{% url 'baccessories' %}"><img
								src="{% static 'images/a3.jpeg' %}" alt="partner"></a>
								<h3>BATM 2 in 1 machine</h3>
								<h3>$1700</h3>
								</div>
					</div>
					<div class="col-sm col-6">
						<div class="single-partner animated" data-animate="fadeInUp" data-delay=".5"><a href="{% url 'baccessories' %}"><img
								src="{% static 'images/a4.jpeg' %}" alt="partner"></a>
								<h3>National Machine</h3>
								<h3>$1900</h3>
								</div>
					</div>
					<div class="col-sm col-6">
						<div class="single-partner animated" data-animate="fadeInUp" data-delay=".6"><a href="{% url 'baccessories' %}"><img
								src="{% static 'images/a5.jpeg' %}" alt="partner"></a>
								<h3>Academy machine</h3>
								<h3>$3200</h3>
								</div>
					</div>
					<div class="col-sm col-6">
						<div class="single-partner animated" data-animate="fadeInUp" data-delay=".7"><a href="{% url 'baccessories' %}"><img
								src="{% static 'images/a6.jpeg' %}" alt="partner"></a>
								<h3>Bitcoin ATM machine </h3>
								<h3>$1800</h3>
								</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md-10 offset-md-1">
					
						<div class="row">
							<div class="col-sm col-6">
								<div class="single-partner animated" data-animate="fadeInUp" data-delay=".8"><a href="{% url 'baccessories' %}"><img
										src="{% static 'images/a7.jpeg' %}" alt="partner"></a>
										<h3>Antiminer S19</h3>
										<h3>$1800</h3>
										</div>
							</div>
							<div class="col-sm col-6">
								<div class="single-partner animated" data-animate="fadeInUp" data-delay=".9"><a href="{% url 'baccessories' %}"><img
										src="{% static 'images/a8.jpeg' %}" alt="partner"></a>
										<h3>Antiminer L3+</h3>
										<h3>$2000</h3>
										</div>
							</div>
							<div class="col-sm col-6">
								<div class="single-partner animated" data-animate="fadeInUp" data-delay="1.1"><a href="{% url 'baccessories' %}"><img
										src="{% static 'images/a10.jpeg' %}" alt="partner"></a>
										<h3>Kingwin miner w/6</h3>
										<h3>$2400</h3>
										</div>
							</div>
							<div class="col-sm col-6">
								<div class="single-partner animated" data-animate="fadeInUp" data-delay="1.1"><a href="{% url 'baccessories' %}"><img
										src="{% static 'images/a11.jpeg' %}" alt="partner"></a>
										<h3>Bitmain miner</h3>
										<h3>$2100</h3>
										</div>
							</div>
							<div class="col-sm col-6">
								<div class="single-partner animated" data-animate="fadeInUp" data-delay="1.1"><a href="{% url 'baccessories' %}"><img
										src="{% static 'images/a12.jpeg' %}" alt="partner"></a>
										<h3>Bitcoin fast flash miner</h3>
										<h3>$2400</h3>
										</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div><!-- End Section --><!-- Start Section -->

{% endblock %}