{% extends "base.html" %}
{% load static %}
{% block content %}

		<div class="section section-pad section-bg-zinnia" id="partners">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-6 offset-md-3">
					<div class="section-head"><h3 class="section-title-md animated" data-animate="fadeInUp" data-delay=".1">
						Buy Crypto</h3></div>
				</div>
			</div>
			<div class="partner-list">
				<div class="row text-center">
					<div class="col-sm col-6">
						<div class="single-partner animated" data-animate="fadeInUp" data-delay=".2"><img
								src="{% static 'images/partner-xs-light-a.png' %}" alt="partner"></div>
					</div>
					<div class="col-sm col-6">
						<div class="single-partner animated" data-animate="fadeInUp" data-delay=".3"><img
								src="{% static 'images/partner-xs-light-b.png' %}" alt="partner"></div>
					</div>
					<div class="col-sm col-6">
						<div class="single-partner animated" data-animate="fadeInUp" data-delay=".4"><img
								src="{% static 'images/partner-xs-light-c.png' %}" alt="partner"></div>
					</div>
					<div class="col-sm col-6">
						<div class="single-partner animated" data-animate="fadeInUp" data-delay=".5"><img
								src="{% static 'images/partner-xs-light-d.png' %}" alt="partner"></div>
					</div>
					<div class="col-sm col-6">
						<div class="single-partner animated" data-animate="fadeInUp" data-delay=".6"><img
								src="{% static 'images/partner-xs-light-e.png' %}" alt="partner"></div>
					</div>
					<div class="col-sm col-6">
						<div class="single-partner animated" data-animate="fadeInUp" data-delay=".7"><img
								src="{% static 'images/partner-xs-light-f.png' %}" alt="partner"></div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md-10 offset-md-1">
						<div class="row">
							<div class="col-sm col-6">
								<div class="single-partner animated" data-animate="fadeInUp" data-delay=".8"><img
										src="{% static 'images/partner-sm-light-a.png' %}" alt="partner"></div>
							</div>
							<div class="col-sm col-6">
								<div class="single-partner animated" data-animate="fadeInUp" data-delay=".9"><img
										src="{% static 'images/partner-sm-light-b.png' %}" alt="partner"></div>
							</div>
							<div class="col-sm col-6">
								<div class="single-partner animated" data-animate="fadeInUp" data-delay="1"><img
										src="{% static 'images/partner-sm-light-c.png' %}" alt="partner"></div>
							</div>
							<div class="col-sm col-6">
								<div class="single-partner animated" data-animate="fadeInUp" data-delay="1.1"><img
										src="{% static 'images/partner-sm-light-d.png' %}" alt="partner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- End Section --><!-- Start Section -->

{% endblock %}