{% extends "base.html" %}
{% load static %}
{% block content %}

		<div class="section section-pad section-bg-zinnia" style="background:-webkit-linear-gradient(left, red 0%, red 100%)" id="partners">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-6 offset-md-3">
					<a href="{% url 'home' %}"><img class="justify-content-center text-center animated" src="{% static 'images/logo-full-white.png' %}" alt="Capital trade logo" />
					<div class="section-head"><h3 class="section-title-md animated" data-animate="fadeInUp" data-delay=".1">
						Mining/FX Signals</h3></div>
				</div>
			</div>
			<div class="partner-list">
				<div class="row text-center">
					<a href="{% url 'psignal' %}"><img src="{% static 'images/s1.png' %}"/></a>
				</div>
			</div>
			
			<div class="partner-list">
				<div class="row text-center">
					<a href="{% url 'psignal' %}"><img src="{% static 'images/s2.png' %}"/></a>
				</div>
			</div>
			
		</div>
		
	</div><!-- End Section --><!-- Start Section -->

{% endblock %}